*{
    margin: 10px;
}
.container{
    background-color: grey;
    border: 2px solid black;
    margin: 30px;    
}
/* h1,h2,h3,h4{
    background-color: #f07167;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 30px;
} */

/* .meals{
    background-color: #e0d8cc;
    color: white;
    margin-top: 0px;
    padding: 30px;
} */
.title{
    color: black;
    text-align: center;
    background-color: bisque;
    
}
.meals{
    background-color: rgba(192, 142, 78, 0.904);
    padding: 10px;
}
p{
    padding: 10px;
    font-weight: bold;
    background-color: white;
    color: black;
}
.how-to h2{
    color: black;
    text-align: center;
    background-color: bisque;
    margin-top: -10px;
}
.ingredients h3{
    color: black;
    padding: 5px;
    /* text-align: center; */
    background-color: bisque;
}
.ingredients > ul{
    background-color: rgb(223, 128, 64);
    padding-top: 10px;
    padding-bottom: 10px;
}
.step h4{
    color: black;
    padding: 5px;
    /* text-align: center; */
    background-color: bisque;
}
.step > ol{
    background-color: rgb(223, 128, 64);
    padding-top: 10px;
    padding-bottom: 10px;
}