.container{
    background-color: grey;
    border: 2px solid black;
    margin: 30px;    
}
/* h1,h2,h3,h4{
    background-color: #f07167;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 30px;
} */

/* .meals{
    background-color: #e0d8cc;
    color: white;
    margin-top: 0px;
    padding: 30px;
} */
.title{
    color: black;
    text-align: center;
    background-color: bisque;
    
}
.meals{
    background-color: rgba(192, 142, 78, 0.904);
    padding: 10px;
}
.meals p{
    padding: 10px;
    font-weight: bold;
    background-color: whitesmoke;
}
*{
    margin: 10px;
}